/* ===========================
   ASSET CARD
=========================== */

.asset-item{

display:flex;
align-items:center;
gap:14px;

padding:12px 14px;
margin-bottom:14px;

background:#fff;
border-radius:18px;

box-shadow:0 6px 18px rgba(0,0,0,.08);

}

/* LEFT SIDE */

.asset-icon{

width:56px;
height:56px;

border-radius:50%;

display:flex;
align-items:center;
justify-content:center;

font-size:30px;

background:#eef9f3;

flex-shrink:0;

}

/* RIGHT SIDE */

.asset-left{

flex:1;

display:flex;
flex-direction:column;

}

/* PROJECT NAME */

.asset-name{

font-size:17px;
font-weight:700;

line-height:1.2;

margin-bottom:2px;

}

/* STAKED */

.asset-stake{

font-size:14px;

color:#169b5f;

margin-bottom:4px;

}

/* CHART */

.asset-chart-box{

height:28px;

margin:2px 0 6px;

display:flex;
align-items:center;

}

.asset-chart{

width:100%;
height:28px;

}

/* FOOTER */

.asset-footer{

display:flex;

justify-content:space-between;

align-items:center;

font-size:12px;

}

.asset-footer div{

display:flex;
flex-direction:column;

}

.asset-footer b{

font-size:14px;

margin-top:2px;

}

/* ACTIVE */

.asset-footer b:last-child{

color:#1ca860;

}
